@import url("https://fonts.googleapis.com/css2?family=Karma:wght@400;700&display=swap");
.about-cont .paras p {
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
}

* {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  font-family: "Karma", sans-serif;
}

p, button, input, textarea {
  font-size: 15px;
}

body {
  background-color: #b5c5c4;
  background-color: #373737;
}

/***********m   NAVBAR   **************/
nav {
  padding: 12px 0;
  background-color: white;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
nav ul {
  list-style: none;
  margin-right: 10px;
  text-align: center;
}
nav ul .form-set-search {
  display: inline-block;
  position: relative;
  z-index: 1;
}
nav ul .form-set-search .set-search {
  max-width: 120px;
  margin-left: 10px;
}
nav ul .form-set-search .set-suggestions {
  position: absolute;
  background-color: white;
  display: none;
  transform: translateX(10px);
}
nav ul .form-set-search .set-suggestions .set-suggestion {
  border: 2px solid #6ed57d;
  padding: 5px;
}
nav ul .form-set-search .set-suggestions .set-suggestion:hover, nav ul .form-set-search .set-suggestions .set-suggestion:active {
  background-color: silver;
}
nav ul .logout, nav ul .signup, nav ul .login {
  float: right;
}
nav ul .sets a {
  color: white;
  background-color: #52a1f0;
  text-decoration: none;
  border-radius: 5px;
  padding: 6px 15px;
}
nav ul .sets a:hover {
  color: white;
  background-color: dodgerBlue;
}
nav ul .sets, nav ul .icon, nav ul .about {
  float: left;
}
nav ul .signup {
  margin-right: 20px;
}
nav ul .sets, nav ul .about {
  margin-left: 30px;
}
nav ul .icon {
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.3));
  transform: translateY(-20%);
}
nav ul .icon:hover {
  cursor: pointer;
}
nav ul li {
  display: inline;
  margin-left: 10px;
}
nav ul li .link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}
nav ul li *:hover {
  color: #2273ff;
}

.hl-gold {
  background-color: gold;
}

.hl-green {
  color: #129812;
  color: black;
  font-weight: 900;
  background-color: #a6f585;
  border-radius: 2px;
}

.nav-bb-out {
  border-bottom: 5px solid #e98a8a;
}

.nav-bb-in {
  border-bottom: 5px solid #6ed57d;
}

/************   sign up / log in    ********/
.form-signuplogin {
  border-radius: 5px;
  background-image: url("../images/flashcard.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 400px;
  padding: 10px;
  margin: 2rem auto;
  filter: brightness(1.3);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  border: 3px solid rgba(75, 176, 161, 0.267);
}
.form-signuplogin .pic-cta {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-signuplogin .pic-cta img {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}
.form-signuplogin .inputs {
  background-color: rgba(128, 128, 128, 0.331);
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  margin: auto;
}
.form-signuplogin .inputs * {
  width: 100%;
}

.btn-signup {
  background: linear-gradient(0.25turn, #6dc4b7, #64b1a5);
  background-color: #64b1a5;
  border-radius: 5px;
}

.btn-signup:hover {
  background: linear-gradient(0.25turn, #5ddeca, #49b8a8);
  background-color: #53cebc;
}

.btn-login {
  background: linear-gradient(0.25turn, #99c770, #68b164);
  background-color: #68b164;
  border-radius: 5px;
}

.btn-login:hover {
  background: linear-gradient(0.25turn, #bafa70, #45c131);
  background-color: #5dce53;
}

/************   FlashCard component     ********/
.FlashCard {
  height: 75;
  background: white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  position: relative;
}

.OptionsBottom .cont-options-bottom .btn-back-to-sets, .OptionsBottom, .aFlashCard .cont-mark, .cont-FlashCard {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.OptionsBottom, .aFlashCard .btn-edit-btn-del, .cont-FlashCard {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.cont-FlashCard {
  margin-bottom: 15px;
  background-color: white;
  max-width: 100%;
}

.aFlashCard {
  display: flex;
}
.aFlashCard .cont-mark {
  width: 40px;
  background-color: #b8b8b8;
}
.aFlashCard .cont-mark:hover {
  padding: 10px;
}
.aFlashCard .ques-ans {
  width: 100%;
  padding: 10px;
}
.aFlashCard .btn-edit-btn-del {
  display: flex;
  width: 80px;
  background-color: #d7d7d7;
}
.aFlashCard .btn-edit-btn-del button {
  transform: translate(-4px, 2px);
}

.query-match {
  color: white;
  background-color: black;
  padding: 3px;
  border-radius: 5px;
}

.hover-to-see {
  opacity: 0.5;
}

.hover-to-see:hover {
  opacity: 1;
}

.btn-edit-fcard, .btn-del-fcard {
  padding: 0;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.form-flashcard-edit .ques-cancel, .form-flashcard-edit .ans-save {
  display: flex;
  width: 100%;
  padding: 5px;
}
.form-flashcard-edit .ques-cancel textarea, .form-flashcard-edit .ans-save textarea {
  width: 90%;
  padding: 5px;
}
.form-flashcard-edit .ques-cancel button, .form-flashcard-edit .ans-save button {
  width: 10%;
}

/************   Options component     ********/
.Options {
  background-color: #999;
  box-shadow: 0 0 0;
  min-height: 2.5rem;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

.btn-sort {
  padding: 0;
  margin: 0;
  width: 60px;
  height: 40px;
  font-size: small;
  color: #727272;
}
.btn-sort .text-marked-num {
  display: inline-flex;
}
.btn-sort .text-marked-num .red-num-marked {
  white-space: nowrap;
}

.btn-sort.active {
  border: 1px solid #7e7e8f;
  background-color: #e9c6e9;
}

.btn-sort-rand {
  width: 60px;
}

.btn-sort-new {
  width: 55px;
}

.btn-sort-old {
  width: 50px;
}

.btn-sort-mark {
  transform: translateY(-2px);
  width: 80px;
}

.header-set-show .btn-back-to-sets, .OptionsBottom .cont-options-bottom .btn-back-to-sets {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bbb;
  height: auto;
}
.header-set-show .btn-back-to-sets .arrow-left, .OptionsBottom .cont-options-bottom .btn-back-to-sets .arrow-left {
  width: 0;
  height: 0;
  border-right: 22px solid #777;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}
.header-set-show .btn-back-to-sets:hover, .OptionsBottom .cont-options-bottom .btn-back-to-sets:hover {
  filter: brightness(1.2);
}
.header-set-show .btn-back-to-sets:hover .arrow-left, .OptionsBottom .cont-options-bottom .btn-back-to-sets:hover .arrow-left {
  border-right: 30px solid #777;
}

.OptionsBottom {
  background-color: #999;
  background: linear-gradient(0.25turn, #919191, #999);
}
.OptionsBottom .cont-options-bottom {
  height: 40px;
  display: flex;
}
.OptionsBottom .cont-options-bottom .btn-back-to-sets {
  display: none;
  transition: opacity 2s;
  opacity: 0;
}
.OptionsBottom .cont-options-bottom .btn-back-to-sets .arrow-left {
  border-right: 17px solid #777;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
}
.OptionsBottom .cont-options-bottom .cont-other-btns {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.SearchBar-fcard-ques {
  margin: 0 10px;
  border: 3px solid silver;
  border-radius: 5px;
  display: inline-flex;
}

/************   'SetShow page'  (/sets/:id)    ********/
.header-set-show {
  display: flex;
  background-color: #5e5e5e;
  justify-content: center;
  max-width: 700px;
  margin: auto;
}
.header-set-show .cont-setName-numCards {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px 10px 10px;
  width: 100%;
}
.header-set-show .cont-setName-numCards .setTitle {
  color: white;
}
.header-set-show .btn-edit-set {
  height: 100%;
  width: 40px;
}

form.form-new-fcard input.new-ques, form.form-new-fcard input.new-ans {
  width: 80%;
  height: 31px;
}
form.form-new-fcard .btn-paste {
  width: 20%;
  height: 31px;
  color: #727272;
  padding: 0;
}
form.form-new-fcard .btn-paste img {
  opacity: 0.7;
  width: 20px;
}

.SetShow-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  max-width: 700px;
  background-color: gray;
  border-radius: 5px;
  margin: 1rem auto;
  padding: 20px;
}

.a-scroll-to-top {
  display: none;
  opacity: 0;
  transition: opacity 2s;
  margin-left: 50px;
}
.a-scroll-to-top img {
  background-color: #d8d8d8;
  padding: 5px 12px 5px 12px;
  border-radius: 2px;
  vertical-align: bottom;
}
.a-scroll-to-top img:hover {
  filter: brightness(0.9);
}

/************   'SetContainer page'  (/sets)    ********/
.SetCont-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 700px;
  margin: 2rem auto;
}

.SetCard {
  height: 75;
  background-color: white;
  border-radius: 5px;
  padding: 20px 10px;
  margin: 10px;
  text-align: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.SetCard p {
  font-size: 18px;
}

.SetCard:hover {
  background-color: #eee;
}

/************   Landing Page  (/sets/:id)    ********/
.Landing-header {
  color: white;
  text-align: center;
  line-height: 20px;
  margin-top: 2rem;
  margin-bottom: 2em;
}

.iframe {
  border: 2px solid white;
  display: block;
  margin: auto;
}

.Landing-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  max-width: 600px;
  margin: 2rem auto;
  color: white;
  text-align: center;
}
.Landing-grid section {
  margin: 2rem auto;
}
.Landing-grid section img {
  width: 100%;
}
.Landing-grid p {
  margin-bottom: 10px;
}
.Landing-grid a {
  color: #1ecbff;
}

/*****   modal - edit set   ****/
.form-edit-set {
  display: flex;
}
.form-edit-set input, .form-edit-set button {
  font-size: 1rem;
}
.form-edit-set input {
  font-weight: 900;
  width: 70%;
}
.form-edit-set button {
  width: 20%;
}

/************   About page   ********/
.card {
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
}

.about-cont {
  background-color: #ababab;
  max-width: 700px;
  padding: 30px;
  margin: auto;
}
.about-cont .paras {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.about-cont .paras p:first-child {
  text-align: center;
}
.about-cont .paras p:nth-child(2) {
  display: flex;
  align-items: center;
}
.about-cont .paras p .profile-pic {
  max-width: 125px;
  border-radius: 5px;
  display: inline;
}
.about-cont .paras p p {
  display: flex;
  justify-content: center;
}

/* *********    general colors  ********/
.silver {
  color: silver;
}

.gray-a {
  color: #aaa;
}

.gray {
  color: gray;
}

.gray-72 {
  color: #727272;
}

.gray-5 {
  color: #555;
}

.black {
  color: black;
}

.red {
  color: red;
}

.green {
  color: green;
}

.white {
  color: white;
}

.bgr {
  background-color: #e6a9a9 !important;
}

.red-num-marked {
  color: #e38a8a;
  font-weight: 800;
  font-size: 1rem;
}

.bgg {
  background-color: green;
}

.bgb {
  background-color: blue;
}

.bgdb {
  background-color: dodgerblue;
}

.bgy {
  background-color: gold;
}

.bggr {
  background-color: goldenrod;
}

.bgrp {
  background-color: rebeccapurple;
}

.bgsg {
  background-color: slategray;
}

.bgs {
  background-color: silver;
}

.bgdsg {
  background-color: darkseagreen;
}

.bgmam {
  background-color: mediumaquamarine;
}

/********     general font styling    ********/
.thin {
  font-weight: 100;
}

.big {
  font-size: 2rem;
}

.bold {
  font-weight: 900;
}

/********     general layout   ********/
.w100p {
  width: 100%;
}

.tal {
  text-align: left;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.di {
  display: inline;
}

.dib {
  display: inline-block;
}

.df {
  display: flex;
}

.dfaic {
  display: flex;
  align-items: center;
}

.difaic {
  display: inline-flex;
  align-items: center;
}

.dfc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.df {
  display: flex;
}

.dfic {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.ma {
  margin: auto;
}

.m0a {
  margin: 0 auto;
}

.mw2 {
  max-width: 200px;
}

.mw3 {
  max-width: 300px;
}

.mw4 {
  max-width: 400px;
}

.mw5 {
  max-width: 500px;
}

/********     forms   ********/
input {
  padding: 5px;
}

button {
  padding: 5px;
}

::placeholder {
  color: #888;
}

/********     other   ********/
.border {
  border: 1px solid black;
}

.link-sneaky {
  text-decoration: none;
  color: black;
}

.loading-wheel {
  width: 100px;
  display: block;
  margin: 100px auto;
}

/********     font-sizes   ********/
.fs8 {
  font-size: 8px;
}

.fs9 {
  font-size: 9px;
}

.fs10 {
  font-size: 10px;
}

.fs11 {
  font-size: 11px;
}

.fs12 {
  font-size: 12px;
}

.fs13 {
  font-size: 13px;
}

.fs14 {
  font-size: 14px;
}

.fs15 {
  font-size: 15px;
}

.fs16 {
  font-size: 16px;
}

.fs17 {
  font-size: 17px;
}

.fs18 {
  font-size: 18px;
}

.fs19 {
  font-size: 19px;
}

.fs20 {
  font-size: 20px;
}

.fs21 {
  font-size: 21px;
}

.fs22 {
  font-size: 22px;
}

.fs23 {
  font-size: 23px;
}

.fs24 {
  font-size: 24px;
}

.fs25 {
  font-size: 25px;
}

/********     margins   ********/
.ml1 {
  margin-left: 1px;
}

.ml2 {
  margin-left: 2px;
}

.ml3 {
  margin-left: 3px;
}

.ml4 {
  margin-left: 4px;
}

.ml5 {
  margin-left: 5px;
}

.ml6 {
  margin-left: 6px;
}

.ml7 {
  margin-left: 7px;
}

.ml8 {
  margin-left: 8px;
}

.ml9 {
  margin-left: 9px;
}

.ml10 {
  margin-left: 10px;
}

.mt1 {
  margin-top: 1px;
}

.mt2 {
  margin-top: 2px;
}

.mt3 {
  margin-top: 3px;
}

.mt4 {
  margin-top: 4px;
}

.mt5 {
  margin-top: 5px;
}

.mt6 {
  margin-top: 6px;
}

.mt7 {
  margin-top: 7px;
}

.mt8 {
  margin-top: 8px;
}

.mt9 {
  margin-top: 9px;
}

.mt10 {
  margin-top: 10px;
}

.mr1 {
  margin-right: 1px;
}

.mr2 {
  margin-right: 2px;
}

.mr3 {
  margin-right: 3px;
}

.mr4 {
  margin-right: 4px;
}

.mr5 {
  margin-right: 5px;
}

.mr6 {
  margin-right: 6px;
}

.mr7 {
  margin-right: 7px;
}

.mr8 {
  margin-right: 8px;
}

.mr9 {
  margin-right: 9px;
}

.mr10 {
  margin-right: 10px;
}

.mb1 {
  margin-bottom: 1px;
}

.mb2 {
  margin-bottom: 2px;
}

.mb3 {
  margin-bottom: 3px;
}

.mb4 {
  margin-bottom: 4px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb6 {
  margin-bottom: 6px;
}

.mb7 {
  margin-bottom: 7px;
}

.mb8 {
  margin-bottom: 8px;
}

.mb9 {
  margin-bottom: 9px;
}

.mb10 {
  margin-bottom: 10px;
}

.mtr1 {
  margin-top: 1rem;
}

.mtr2 {
  margin-top: 2rem;
}

.mtr3 {
  margin-top: 3rem;
}

.mtr4 {
  margin-top: 4rem;
}

.mtr5 {
  margin-top: 5rem;
}

.mrr1 {
  margin-right: 1rem;
}

.mrr2 {
  margin-right: 2rem;
}

.mrr3 {
  margin-right: 3rem;
}

.mrr4 {
  margin-right: 4rem;
}

.mrr5 {
  margin-right: 5rem;
}

.mbr1 {
  margin-bottom: 1rem;
}

.mbr2 {
  margin-bottom: 2rem;
}

.mbr3 {
  margin-bottom: 3rem;
}

.mbr4 {
  margin-bottom: 4rem;
}

.mbr5 {
  margin-bottom: 5rem;
}

.mlr1 {
  margin-left: 1rem;
}

.mlr2 {
  margin-left: 2rem;
}

.mlr3 {
  margin-left: 3rem;
}

.mlr4 {
  margin-left: 4rem;
}

.mlr5 {
  margin-left: 5rem;
}

@media (max-width: 500px) {
  .about-cont {
    background-color: #727272;
  }
  .about-cont .paras {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
  }
  .about-cont .paras p {
    border: 0;
    border-radius: 0;
  }
  .about-cont .paras p:first-child, .about-cont .paras p:last-child {
    background: transparent;
  }

  .iframe {
    width: 100%;
  }

  input.set-search {
    max-width: 50px !important;
  }
}
@media (max-width: 414px) {
  .SetCont-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .form-flashcard-edit .ques-cancel textarea, .form-flashcard-edit .ans-save textarea {
    width: 80%;
  }
  .form-flashcard-edit .ques-cancel button, .form-flashcard-edit .ans-save button {
    width: 20%;
  }
}

/*# sourceMappingURL=style.css.map */
